In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
import pandas as pd

In [ ]:
import GEOparse
gse = GEOparse.get_GEO("GSE62564") #GSE62564 has EFS data
gse2 = GEOparse.get_GEO("GSE49711") #GSE49711 has microarray data

In [7]:
#Load into dataframes
clinical = gse.phenotype_data
clinical2 = gse2.phenotype_data

In [8]:
#Formatting and merginf dataframes
clinical = clinical.reset_index()
clinical2 = clinical2.reset_index()
clinical = pd.concat([clinical, clinical2], axis=1)

In [9]:
#Get just the columns I'm interested in and rename them
reduced_clinical = clinical[['index', 'title', 'characteristics_ch1.1.Sex', 'characteristics_ch1.2.age', 'characteristics_ch1.3.efs day', 'characteristics_ch1.4.efs bin', 'characteristics_ch1.4.mycn status']]

In [11]:
#Rename columns and drop the duplicates
reduced_clinical.columns = ['GSM', 'GSM2', 'SampID2', 'SampID', 'Sex', 'Age', 'EFS Time', 'EFS Bin', 'MYCN Amplification']
reduced_clinical = reduced_clinical.drop(['GSM2', 'SampID2'], axis=1)

In [12]:
#Load microarray data file
microarray_data = pd.read_csv('/gdrive/My Drive/project/GSE49711_SEQC_NB_MAV_G_log2.csv', sep='\t')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
#Format microarray dataframe so it. can be merged with clinical data
microarray_data = microarray_data.transpose()
microarray_data.columns = microarray_data.iloc[0]
microarray_data = microarray_data.drop(['#Gene'])
#Genes I'm interested in
genes = microarray_data[['TP53', 'NTRK1', 'PTPN6', 'ACE2', 'TMPRSS2', 'CXCL10', 'AGTR1']]
genes = genes[1:]
genes = genes.reset_index()
genes = genes.rename(columns={"index": "SampID"})

In [15]:
#Merge clinical data and microarray data
all = pd.merge(reduced_clinical, genes, on='SampID')

In [17]:
#Calculate z-scores
from scipy.stats import zscore
all['TP53_z'] = zscore(all['TP53'].astype(float))
all['NTRK1_z'] = zscore(all['NTRK1'].astype(float))
all['PTPN6_z'] = zscore(all['PTPN6'].astype(float))
all['ACE2_z'] = zscore(all['ACE2'].astype(float))
all['TMPRSS2_z'] = zscore(all['TMPRSS2'].astype(float))
all['CXCL10_z'] = zscore(all['CXCL10'].astype(float))
all['AGTR1_z'] = zscore(all['AGTR1'].astype(float))

In [18]:
all

            GSM      SampID Sex   Age  ...    ACE2_z TMPRSS2_z  CXCL10_z   AGTR1_z
0    GSM1528894  SEQC_NB001   M   987  ... -0.128659  0.405994  0.963559 -0.569730
1    GSM1528895  SEQC_NB002   M  1808  ...  0.936732 -1.091646  0.697643 -0.759969
2    GSM1528896  SEQC_NB003   F   625  ...  1.092470  0.487813 -3.933721 -0.337639
3    GSM1528897  SEQC_NB004   F   335  ...  1.156181  0.384650  0.265530  0.986421
4    GSM1528898  SEQC_NB005   F   536  ...  0.027079 -1.091646 -0.458351 -0.832259
..          ...         ...  ..   ...  ...       ...       ...       ...       ...
493  GSM1529389  SEQC_NB494   M    56  ...  0.335016  0.708368 -0.000386  0.841840
494  GSM1529390  SEQC_NB495   M   163  ...  1.003982  0.996512  1.488003  0.153176
495  GSM1529391  SEQC_NB496   M   132  ...  0.742059  0.758170 -0.469431  0.427120
496  GSM1529392  SEQC_NB497   F   379  ...  1.011061  0.619434  0.468660 -0.588754
497  GSM1529393  SEQC_NB498   F   530  ...  1.131404  0.857776  0.760429 -0.607778

[498 rows x 21 columns]